.escaner-page {
    width: 60%;
    margin: 100px auto;
    background-color: var(--box-color);
    padding: 20px;
    border-radius: 20px;
        box-shadow: var(--shadow-soft);
        
    border: 1px solid var(--box-color);
}

.escaner-header {
    margin: 0 auto;
    text-align: center;
}

.escaner-options {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
        background-color: var(--coral);
        border: 1px solid var(--coral);
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
    }

    button:nth-child(2) {
        background-color: var(--box-color);
        border: 1px solid var(--coral);
        color: var(--text-color);
    }
}