@use "../_variables" as *;
@use "../_mixins" as *;

.hero {
  position: relative;
  @include gradient-hero;
  color: var(--white);
  padding-block: 20px;

  &__overlay { 
    position: absolute; 
    inset: 0; 
    background: rgba(0,0,0,.08); 
  }

  &__inner { 
    position: relative; 
    z-index: 1; 
  }

  &__content { 
    text-align: center; 
  }

&__logo {
  display: flex;
  justify-content: center;

  img {
    max-width: clamp(200px, 35vw, 600px);
    height: auto;
     margin-left: 2rem; 
  }
}


  &__title {
    font-family: "Josefin Sans", Inter, sans-serif;
    font-size: clamp(3rem, 4.5vw, 10rem);
    line-height: 1;
    margin: 0 0 4px;
  }

  &__subtitle {
    font-size: 1.125rem;
    opacity: .92;
    max-width: 760px;
    margin: 0 auto 32px;
  }

  &__actions {
    display: flex; 
    gap: 14px; 
    flex-wrap: wrap;
    justify-content: center;
  }
}
