
$font-family-base: 'Josefin Sans', sans-serif;

$color-primary: #fe7568;          
$color-primary-dark: #e24c50;    
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #cccccc;
$color-gray-dark: #666666;

$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-xxl: 48px;
